* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    color: #fff;
}

.test {
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

p {
    font-size: 1.3vw;
    width: 45%;
    padding-bottom: 6vw;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
